{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 services-item">
        <a href="#servicesModal1" class="services-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{=URL('static','images/cabin.png')}}" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-md-4 services-item">
        <a href="#servicesModal1" class="services-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{=URL('static','images/cabin.png')}}" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-md-4 services-item">
        <a href="#servicesModal1" class="services-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{=URL('static','images/cabin.png')}}" class="img-responsive" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 services-item">
        <a href="#servicesModal1" class="services-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{=URL('static','images/cabin.png')}}" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-md-4 services-item">
        <a href="#servicesModal1" class="services-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{=URL('static','images/cabin.png')}}" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-md-4 services-item">
        <a href="#servicesModal1" class="services-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{=URL('static','images/cabin.png')}}" class="img-responsive" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Registro de Servicio</strong></h3></div>
        <div class="panel-body">
          <div class="col-md-3 col-md-offset-3">
            <p>Tipo de servicio</p>
            <p>Fecha de Inicio</p>
            <p>Fecha de Llegada</p>
            <p>Fecha de Regreso </p>
          </div>
          <div class="col-md-3">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">none </button>
              <ul role="menu" class="dropdown-menu">
                <li role="presentation"><a href="#">First Item</a></li>
                <li role="presentation"><a href="#">Second Item</a></li>
                <li role="presentation"><a href="#">Third Item</a></li>
              </ul>
            </div>
            <input type="datetime-local" />
            <input type="datetime-local" />
            <input type="datetime-local" />
          </div>
          <div class="col-md-6 col-md-offset-3">
            <p class="text-center"><strong>Descripcion del Servicio</strong></p>
            <input type="text" maxlength="1000" class="input-lg form-textbox" />
          </div>
          <div class="col-md-6 col-md-offset-3">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center"><strong>Jefe </strong></p>
              </div>
              <div class="col-md-6">
                <div class="container-fluid"><img src="{{=URL('static','images/juan.jpg')}}" class="img-responsive" /></div>
              </div>
              <div class="col-md-6">
                <div class="container-fluid">
                  <p>Juan Ortiz</p>
                  <p>16 Años</p>
                  <p>Hombre </p>
                  <p>CI: 24 796 589</p>
                  <p>(+58) 426 584 4155</p>
                  <p>Caracas, Venezuela</p>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" type="button">Selecionar </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center"><strong>Integrantes </strong></p>
              </div>
              <div class="col-md-6">
                <div class="container-fluid"><img src="{{=URL('static','images/juan.jpg')}}" class="img-responsive" /></div>
              </div>
              <div class="col-md-6">
                <div class="container-fluid">
                  <p>Juan Ortiz</p>
                  <p>16 Años</p>
                  <p>Hombre </p>
                  <p>CI: 24 796 589</p>
                  <p>(+58) 426 584 4155</p>
                  <p>Caracas, Venezuela</p>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" type="button">Selecionar </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="container-fluid"><img src="{{=URL('static','images/juan.jpg')}}" class="img-responsive" /></div>
              </div>
              <div class="col-md-6">
                <div class="container-fluid">
                  <p>Juan Ortiz</p>
                  <p>16 Años</p>
                  <p>Hombre </p>
                  <p>CI: 24 796 589</p>
                  <p>(+58) 426 584 4155</p>
                  <p>Caracas, Venezuela</p>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" type="button">Selecionar </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="container-fluid"><img src="{{=URL('static','images/juan.jpg')}}" class="img-responsive" /></div>
              </div>
              <div class="col-md-6">
                <div class="container-fluid">
                  <p>Juan Ortiz</p>
                  <p>16 Años</p>
                  <p>Hombre </p>
                  <p>CI: 24 796 589</p>
                  <p>(+58) 426 584 4155</p>
                  <p>Caracas, Venezuela</p>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" type="button">Selecionar </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="container-fluid"><img src="{{=URL('static','images/juan.jpg')}}" class="img-responsive" /></div>
              </div>
              <div class="col-md-6">
                <div class="container-fluid">
                  <p>Juan Ortiz</p>
                  <p>16 Años</p>
                  <p>Hombre </p>
                  <p>CI: 24 796 589</p>
                  <p>(+58) 426 584 4155</p>
                  <p>Caracas, Venezuela</p>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" type="button">Selecionar </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="container-fluid"><img src="{{=URL('static','images/juan.jpg')}}" class="img-responsive" /></div>
              </div>
              <div class="col-md-6">
                <div class="container-fluid">
                  <p>Juan Ortiz</p>
                  <p>16 Años</p>
                  <p>Hombre </p>
                  <p>CI: 24 796 589</p>
                  <p>(+58) 426 584 4155</p>
                  <p>Caracas, Venezuela</p>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" type="button">Selecionar </button>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-md-offset-3">
            <p>Unidad </p>
          </div>
          <div class="col-md-3">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">none </button>
              <ul role="menu" class="dropdown-menu">
                <li role="presentation"><a href="#">First Item</a></li>
                <li role="presentation"><a href="#">Second Item</a></li>
                <li role="presentation"><a href="#">Third Item</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <p><strong>Conductor </strong></p>
            <div class="row">
              <div class="col-md-6">
                <div class="container-fluid"><img src="{{=URL('static','images/juan.jpg')}}" class="img-responsive" /></div>
              </div>
              <div class="col-md-6">
                <div class="container-fluid">
                  <p>Juan Ortiz</p>
                  <p>16 Años</p>
                  <p>Hombre </p>
                  <p>CI: 24 796 589</p>
                  <p>(+58) 426 584 4155</p>
                  <p>Caracas, Venezuela</p>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" type="button">Selecionar </button>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-md-offset-0">
            <button class="btn btn-default" type="submit">Finalizar </button>
          </div>
        </div>
      </div>
    </div>
  </section>
